<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage data</title>
    <link th:href="@{css/styles.css}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Exo:wght@200&family=Lato:wght@300&family=Overpass:wght@200&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
</head>
<body>

<div id="data-manage-container">

    <button class="data-manage-button">Filter data</button>

    <div class="data-manage-content">
        <form th:action="@{/getFilteredTableData}" method="get" id="get-filtered-data--form">
            <input type="hidden" th:value="${tableId}" name="tableId">
        </form>
    </div>

    <button class="data-manage-button">Add new data</button>
    <div class="data-manage-content">
        <form th:action="@{/addData}" method="post" id="add-data--form">
            <input type="hidden" th:value="${tableId}" name="tableId">
        </form>
    </div>

    <button class="data-manage-button">Field constraints</button>
    <div class="data-manage-content" id="field-constr-content">
        <form th:action="@{/updateConstraints}" method="post" id="field-constr--form">
            <input type="hidden" th:value="${tableId}" name="tableId">
            <input type="hidden" th:value="${databaseId}" name="databaseId" id='databaseId'>
        </form>
    </div>

    <button class="data-manage-button">Add new field</button>
    <div class="data-manage-content">
        <form th:action="@{/addField}" method="post" id="add-field--form">
            <input type="hidden" th:value="${tableId}" id="tableId" name="tableId">
            <p>
                <label for="new-field-name">Field name:</label>
                <input type="text" id="new-field-name" name="fieldName" minlength="3" maxlength="30">
            </p>

            <p>
                <label for="new-field-type">Field type</label>
                <select id="new-field-type" name="fieldType">
                    <option value="int">Integer</option>
                    <option value="varchar">Varchar</option>
                </select>
            </p>

            <p>
                <label for="new-field-nullable">Nullable:</label>
                <input type="checkbox" id="new-field-nullable" name="nullable" checked>
            </p>
            <p>
                <label for="new-field-defaultval">Default value:</label>
                <input type="text" id="new-field-defaultval" name="defaultValue" minlength="1" maxlength="50">
            </p>
            <p>
                <label for="new-field-unique">Unique:</label>
                <input type="checkbox" id="new-field-unique" name="unique">
            </p>

            <p>
                <input type="submit" value="Add new field" id="new-field-submit" class="table-config--submit">
            </p>

        </form>
    </div>
    <button class="data-manage-button">Style</button>
    <div class="data-manage-content">
        <form th:action="@{/modifyStyle}" method="post" id="modify-style--form">
            <input type="hidden" th:value="${tableId}" name="tableId">

            <label for="new-table-name">Change table name</label>
            <input type="text" id="new-table-name" name="newTableName">
            <br>

            <label for="style-table-color">Choose color of the table</label>
            <select id="style-table-color" name="tableStyleColor">
                <option>papayawhip</option>
                <option>blue</option>
                <option>violet</option>
                <option>green</option>
            </select>
            <br>

            <input type="submit" value="Apply style changes" class="table-config--submit" id="modify-style--submit">
            <br>
        </form>
    </div>
    <div id="data-results">
        <header id="data-list-header">Data results:</header>
        <div id="data-list"></div>

        <form th:action="@{/modifyData}" method="post" id="modify-data--form">
            <input type="hidden" th:value="${tableId}" name="tableId">
        </form>

        <form th:action="@{/deleteData}" method="post" id="delete-data--form">
            <input type="hidden" th:value="${tableId}" name="tableId">
            <input type="hidden" th:value="${databaseId}" name="databaseId">
        </form>

        <form th:action="@{/deleteField}" method="post" id="delete-field--form">
            <input type="hidden" th:value="${tableId}" name="tableId">
        </form>

    </div>

</div>

<script>

    const tableId = document.getElementById('tableId').value;
    const dbId = document.getElementById('databaseId').value;

    const constraintNameMapping = new Map([
        [1, 'foreignkey'],
        [2, 'ondelete'],
        [3, 'nullable'],
        [4, 'unique']
    ]);

    $("#new-field-submit").on('click', (e) => {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/addField',
            data: $("#add-field--form").serialize(),
            success: function () {
                reloadAllContents(tableId, dbId);
            }
        });
    });

    $("#modify-style--submit").on('click', (e) => {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/updateStyle',
            data: $("#modify-style--form").serialize(),
            success: function () {
                alert("Style has been modified successfully!");
            }
        });
    });

    let controlPressed = false;

    document.addEventListener('keydown', (e) => {
        if (e.keyCode === 17) {
            controlPressed = true;
        }

    });

    document.addEventListener('keyup', (e) => {
        if (e.keyCode === 17) {
            controlPressed = false;
        }

    });

    window.onload = async () => {
        reloadAllContents(tableId, dbId);
    }

    async function fetchTableFields(tableId) {

        let response = await fetch("/getTableFields?tableId=" + tableId);
        return await response.json();

    }

    async function fetchTableData(tableId) {

        let response = await fetch("/getTableData?tableId=" + tableId);
        return await response.json();

    }

    async function fetchPrimaryKeys(databaseId) {
        let response = await fetch("/getPrimaryKeys?databaseId=" + databaseId);
        return await response.json();
    }

    function reloadAllContents(tableId, databaseId) {
        reloadFilterMenu(tableId);
        reloadConstraintMenu(tableId, databaseId);
        reloadAddDataMenu(tableId);
        reloadData(tableId);

    }


    async function reloadConstraintMenu(tableId, databaseId) {
        const tableFields = await fetchTableFields(tableId);
        const primaryKeys = await fetchPrimaryKeys(databaseId);

        loadConstraintMenu(tableId, tableFields, primaryKeys);
    }

    async function reloadData(tableId) {
        const freshData = await fetchTableData(tableId);
        const tableFields = await fetchTableFields(tableId);

        loadData(freshData, tableId, tableFields);
    }

    async function reloadDataFiltered(tableId, filteredData) {
        const tableFields = await fetchTableFields(tableId);

        loadData(filteredData, tableId, tableFields);
    }

    async function reloadFilterMenu(tableId) {
        const tableFields = await fetchTableFields(tableId);

        loadFilterMenu(tableId, tableFields);
    }

    async function reloadAddDataMenu(tableId) {
        const tableFields = await fetchTableFields(tableId);
        loadAddDataMenu(tableId, tableFields);
    }

    function loadConstraintMenu(tableId, tableFields, primaryKeys) {
        const fieldConstrForm = document.getElementById('field-constr--form');

        const NUM_OF_DEF_CONSTR = constraintNameMapping.size;

        clearForm(fieldConstrForm);

        const constrMenuTable = document.createElement('table');
        constrMenuTable.classList.add('constr-table');

        const constrMenuTableHeaders = constrMenuTable.insertRow();

        for (let i = 0; i <= NUM_OF_DEF_CONSTR; i++) {
            const headersCell = constrMenuTableHeaders.insertCell();
            let cellTextContent;

            if (i === 0)
                cellTextContent = 'Field name';

            else {
                cellTextContent = constraintNameMapping.get(i);

            }


            headersCell.appendChild(document.createTextNode(cellTextContent));
        }


        for (let i = 0; i < tableFields.length; i++) {
            const fieldConstrRow = constrMenuTable.insertRow();
            const fieldId = tableFields[i][0];
            const fieldName = tableFields[i][2];
            const isNullable = tableFields[i][3];
            const isUnique = tableFields[i][4];
            const isPrimaryKey = tableFields[i][5];

            for (let j = 0; j <= NUM_OF_DEF_CONSTR; j++) {
                const fieldConstrCell = fieldConstrRow.insertCell();

                if (j === 0)
                    fieldConstrCell.appendChild(document.createTextNode(fieldName)); // name

                else {
                    const constrName = constraintNameMapping.get(j);

                    switch (constrName) {
                        case 'unique':
                            const uniqueCheckButton = document.createElement('input');
                            uniqueCheckButton.type = 'checkbox';
                            uniqueCheckButton.id = 'uniq-checkbutton-' + fieldId;
                            uniqueCheckButton.name = 'isUnique' + fieldId;
                            if (isUnique === 'true')
                                uniqueCheckButton.checked = true;

                            if (isPrimaryKey === 'true')
                                uniqueCheckButton.disabled = true;

                            fieldConstrCell.appendChild(uniqueCheckButton);
                            break;


                        case 'nullable':
                            const nullCheckButton = document.createElement('input');
                            nullCheckButton.type = 'checkbox';
                            nullCheckButton.id = 'null-checkbutton-' + fieldId;
                            nullCheckButton.name = 'isNullable' + fieldId;
                            if (isNullable === 'true')
                                nullCheckButton.checked = true;

                            if (isPrimaryKey === 'true')
                                nullCheckButton.disabled = true;
                            fieldConstrCell.appendChild(nullCheckButton);
                            break;


                        case 'foreignkey':
                            const fkSelect = document.createElement('select');
                            fkSelect.id = 'fk-select-' + fieldId;
                            fkSelect.name = 'isForeignKey' + fieldId;
                            const fkDefaultOption = document.createElement('option');
                            fkDefaultOption.value = 'None';
                            fkDefaultOption.appendChild(document.createTextNode('None'));
                            fkSelect.appendChild(fkDefaultOption);

                            for (let k = 0; k < primaryKeys.length; k++) {
                                const fkOption = document.createElement('option');
                                const primaryKeyDescription = JSON.parse(primaryKeys[k]);

                                const primaryKeyFieldId = primaryKeyDescription['fieldId'];
                                const primaryKeyName = primaryKeyDescription['fieldName'];
                                const primaryKeyTableName = primaryKeyDescription['tableName'];
                                const primaryKeyTableId = primaryKeyDescription['tableId'];

                                fkOption.value = primaryKeyFieldId;
                                fkOption.appendChild(document.createTextNode(primaryKeyName + ' (' + primaryKeyTableName + ')'));
                                if (primaryKeyTableId !== tableId)
                                    fkSelect.appendChild(fkOption);
                            }

                            fkSelect.onchange = () => {
                                const onDeleteActionSelect = document.getElementById('on-delete-' + fieldId);

                                if (fkSelect.value !== 'None') {
                                    onDeleteActionSelect.style.visibility = 'visible';
                                } else
                                    onDeleteActionSelect.style.visibility = 'hidden';

                            };
                            fieldConstrCell.appendChild(fkSelect);
                            break;

                        case 'ondelete':
                            const onDeleteActionSelect = document.createElement('select');
                            onDeleteActionSelect.id = 'on-delete-' + fieldId;
                            onDeleteActionSelect.name = 'onDelete' + fieldId;
                            onDeleteActionSelect.style.visibility = 'hidden';

                            const onDeleteOptionCascade = document.createElement('option');
                            onDeleteOptionCascade.value = 'cascade';
                            onDeleteOptionCascade.textContent = 'Cascade';

                            const onDeleteOptionSetNull = document.createElement('option');
                            onDeleteOptionSetNull.value = 'setnull';
                            onDeleteOptionSetNull.textContent = 'Set null';

                            const onDeleteOptionNone = document.createElement('option');
                            onDeleteOptionNone.value = 'none';
                            onDeleteOptionNone.textContent = 'No action';

                            onDeleteActionSelect.appendChild(onDeleteOptionNone);
                            onDeleteActionSelect.appendChild(onDeleteOptionCascade);
                            onDeleteActionSelect.appendChild(onDeleteOptionSetNull);
                            fieldConstrCell.appendChild(onDeleteActionSelect);

                    }
                }


            }

        }

        const fieldConstrSubmit = document.createElement('input');
        fieldConstrSubmit.type = 'submit';
        fieldConstrSubmit.value = 'Update constraint changes';
        fieldConstrSubmit.classList.add("table-config--submit");
        fieldConstrForm.appendChild(constrMenuTable);
        fieldConstrForm.appendChild(fieldConstrSubmit);

        $(fieldConstrSubmit).on('click', (e) => {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/updateConstraints',
                data: $(fieldConstrForm).serialize(),
                success: function () {
                    alert("Constraints saved!");
                }
            });
        });
    }

    function loadFilterMenu(tableId, tableFields) {

        const getFilteredDataForm = document.getElementById('get-filtered-data--form');

        clearForm(getFilteredDataForm);

        const filterOptionsTable = document.createElement('table');
        filterOptionsTable.classList.add('filter-table');

        const filterColumnNames = new Map([
            [0, 'Column'],
            [1, 'Comparator'],
            [2, 'Filter']
        ]);

        const filterTableHeader = filterOptionsTable.insertRow();

        for (let i = 0; i < 3; i++) {

            const td = filterTableHeader.insertCell();
            const columnName = filterColumnNames.get(i);

            td.appendChild(document.createTextNode(columnName));

        }

        for (let i = 0; i < tableFields.length; i++) {
            const tableRow = filterOptionsTable.insertRow();

            const fieldName = tableRow.insertCell();
            fieldName.appendChild(document.createTextNode(tableFields[i][2]));

            const comparator = tableRow.insertCell();
            const comparatorOptionList = document.createElement('select');
            comparatorOptionList.name = tableFields[i][0] + 'comparator';

            const comparatorOptionNoFilter = document.createElement('option');
            comparatorOptionNoFilter.value = 'null';
            comparatorOptionNoFilter.text = 'No filter';

            const comparatorOptionEqual = document.createElement('option');
            comparatorOptionEqual.value = '=';
            comparatorOptionEqual.text = 'Is equal';

            const comparatorOptionNotEqual = document.createElement('option');
            comparatorOptionNotEqual.value = '<>';
            comparatorOptionNotEqual.text = 'Is not equal';

            const comparatorOptionSmaller = document.createElement('option');
            comparatorOptionSmaller.value = '<';
            comparatorOptionSmaller.text = 'Is smaller';

            const comparatorOptionGreater = document.createElement('option');
            comparatorOptionGreater.value = '>';
            comparatorOptionGreater.text = 'Is greater';

            comparatorOptionList.appendChild(comparatorOptionNoFilter);
            comparatorOptionList.appendChild(comparatorOptionEqual);
            comparatorOptionList.appendChild(comparatorOptionNotEqual);

            if (tableFields[i][1] === 'int') comparatorOptionList.appendChild(comparatorOptionSmaller);
            if (tableFields[i][1] === 'int') comparatorOptionList.appendChild(comparatorOptionGreater);

            comparator.appendChild(comparatorOptionList);

            const filter = tableRow.insertCell();
            const filterValue = document.createElement('input');
            filterValue.type = 'text';
            filterValue.name = tableFields[i][0] + 'filterValue';

            filter.appendChild(filterValue);
        }


        const applyFiltersButton = document.createElement('input');
        applyFiltersButton.type = 'submit';
        applyFiltersButton.classList.add('table-config--submit');
        applyFiltersButton.value = 'Apply filters';

        getFilteredDataForm.appendChild(filterOptionsTable);
        getFilteredDataForm.append(applyFiltersButton);


        $(applyFiltersButton).on('click', (e) => {
            e.preventDefault();
            $.ajax({
                url: '/getFilteredTableData',
                type: 'get',
                data: $(getFilteredDataForm).serialize(),
                success: function (response) {
                    const filteredDataResponse = JSON.parse(response);
                    reloadDataFiltered(tableId, filteredDataResponse);
                }
            });
        });
    }

    function loadAddDataMenu(tableId, tableFields) {
        const addDataForm = document.getElementById('add-data--form');

        clearForm(addDataForm);

        const addDataMenuTable = document.createElement('table');

        for (let i = 0; i < tableFields.length; i++) {
            const fieldName = tableFields[i][2];

            const tableRow = addDataMenuTable.insertRow();

            const tdFieldName = tableRow.insertCell();
            tdFieldName.appendChild(document.createTextNode(fieldName));

            const tdFieldValue = tableRow.insertCell();
            const fieldValue = document.createElement('input');

            fieldValue.type = 'text';
            fieldValue.name = fieldName;
            tdFieldValue.appendChild(fieldValue);

        }

        const addDataButton = document.createElement('input');

        addDataButton.type = 'submit';
        addDataButton.value = 'Add new data';
        addDataButton.classList.add('table-config--submit');

        addDataForm.appendChild(addDataMenuTable);
        addDataForm.appendChild(addDataButton);

        $(addDataButton).on('click', (e) => {
            e.preventDefault();
            $.ajax({
                url: '/addData',
                type: 'POST',
                data: $(addDataForm).serialize(),
                success: function () {
                    reloadData(tableId);
                }
            });
        });
    }

    function loadData(freshData, tabId, tableFields) {
        const dataList = document.getElementById("data-list");

        while (dataList.firstChild) {
            dataList.removeChild(dataList.lastChild);
        }

        //const responseJSON = JSON.parse(response);

        const newTable = document.createElement('table');
        newTable.classList.add('data-table');

        newTable.id = 'tableDataList';

        const tHeader = newTable.insertRow();

        //init tableHeaders
        for (let i = 0; i < tableFields.length; i++) {
            const td = tHeader.insertCell();

            if (tableFields[i][5] === 'false') {

                td.addEventListener('mouseover', () => {
                    if (controlPressed) {
                        td.style.backgroundColor = 'red';
                    }
                });

                td.addEventListener('mouseout', () => {
                    if (!td.classList.contains('to-delete'))
                        td.style.backgroundColor = 'transparent';

                });

                td.addEventListener('click', () => {

                    if (controlPressed) {
                        const deleteFieldForm = document.getElementById('delete-field--form');
                        td.classList.toggle('to-delete');

                        if (td.classList.contains('to-delete')) {

                            td.style.backgroundColor = 'red';
                            const fieldName = document.createElement('input');
                            fieldName.type = 'hidden';
                            fieldName.value = tableFields[i][2];
                            fieldName.name = tableFields[i][2];
                            fieldName.id = 'field-' + tableFields[i][2];

                            const deleteFieldSubmit = document.createElement('input');
                            deleteFieldSubmit.type = 'submit';
                            deleteFieldSubmit.value = 'Commit field delete';
                            deleteFieldSubmit.id = 'delete-field--submit';

                            if (!deleteFieldForm.contains(document.querySelector('#delete-field--submit')))
                                deleteFieldForm.appendChild(deleteFieldSubmit);

                            deleteFieldForm.appendChild(fieldName)

                        } else {
                            td.style.backgroundColor = 'transparent';
                            deleteFieldForm.removeChild(deleteFieldForm.querySelector('#field-' + tableFields[i][2]));
                            if (deleteFieldForm.contains(deleteFieldForm.querySelector('#delete-field--submit')) && deleteFieldForm.children.length === 2)
                                deleteFieldForm.removeChild(deleteFieldForm.querySelector('#delete-field--submit'));
                        }

                        $(deleteFieldForm).on('click', (e) => {
                            e.preventDefault();
                            $.ajax({
                                type: 'POST',
                                url: '/deleteField',
                                data: $(deleteFieldForm).serialize(),
                                success: function () {
                                    //we remove the save button after successful saving
                                    clearForm(deleteFieldForm);
                                    reloadAllContents(tabId, dbId);

                                }
                            });
                        });

                    }
                });
            }

            const tableFieldName = document.createTextNode(tableFields[i][2]);

            if (tableFields[i][5] === 'true')
                td.style.color = 'gold';
            td.appendChild(tableFieldName);

        }

        //inserting mockup field
        //representing delete button
        const mockupTd = tHeader.insertCell();

        for (let i = 0; i < freshData.length; i++) {

            const tRow = newTable.insertRow();
            tRow.id = 'datarow-' + freshData[i][0];

            const currentValues = JSON.parse(freshData[i][1]);

            for (let j = 0; j < tableFields.length; j++) {

                const currentField = tableFields[j][2];
                const currentValue = currentValues[currentField];

                const td = tRow.insertCell();
                td.classList.add(freshData[i][0]);

                td.addEventListener("dblclick", () => {
                    const inputField = document.createElement('input');
                    inputField.type = 'text';
                    inputField.value = td.textContent;
                    td.removeChild(td.lastChild);
                    td.appendChild(inputField);
                    inputField.focus();
                });

                td.addEventListener("keydown", () => {
                    if (event.keyCode === 13) {
                        applyChangesToDataList(tableFields, tabId);
                    }
                });

                td.appendChild(document.createTextNode(currentValue));
            }

            const deleteButtonTd = tRow.insertCell();
            const deleteButton = document.createElement('button');

            deleteButton.value = freshData[i][0];
            deleteButton.textContent = 'DELETE';
            deleteButton.classList.add('delete-data-button');

            deleteButton.addEventListener('click', (src) => {
                applyDataForDelete(src, tabId);
            });

            deleteButtonTd.appendChild(deleteButton);
        }

        dataList.appendChild(newTable);
    }

    function applyChangesToDataList(tableFields, tabId) {
        const table = document.getElementById("tableDataList");

        const modifyDataForm = document.getElementById('modify-data--form');

        clearForm(modifyDataForm);

        let rows = table.rows;

        for (let i = 1; i < rows.length; i++) {
            for (let j = 0; j < rows[i].cells.length - 1; j++) {
                const currentCell = rows[i].cells[j];
                if (currentCell.lastChild.nodeName !== "#text") {
                    let text = currentCell.lastElementChild.value;
                    let textDoc = document.createTextNode(text);

                    currentCell.removeChild(currentCell.lastChild);
                    currentCell.appendChild(textDoc);
                }
            }
        }

        //we arent processing first row (field names row)
        for (let i = 1; i < rows.length; i++) {
            for (let j = 0; j < rows[i].cells.length - 1; j++) {
                const currentCell = rows[i].cells[j];
                const cellValue = document.createElement('input');

                cellValue.type = 'hidden';
                cellValue.value = currentCell.innerText;
                cellValue.name = currentCell.className + tableFields[j][2];
                modifyDataForm.appendChild(cellValue);
            }
        }

        const saveChangesButton = document.createElement('input');

        saveChangesButton.type = 'submit';
        saveChangesButton.value = 'Save Changes';
        saveChangesButton.classList.add("table-config--submit")
        saveChangesButton.id = 'save-changes-button';

        if (!modifyDataForm.contains(document.querySelector('#save-changes-button')))
            modifyDataForm.appendChild(saveChangesButton);

        $(saveChangesButton).on('click', (e) => {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/modifyData',
                data: $(modifyDataForm).serialize(),
                success: function () {

                    clearForm(modifyDataForm);
                    reloadData(tabId);

                }
            });
        });

    }

    function applyDataForDelete(src, tabId) {

        const deleteDataForm = document.getElementById('delete-data--form');
        const sourceTarget = src.target;

        sourceTarget.classList.toggle('delete-button--active');

        const commitDeleteButton = document.createElement('input');

        commitDeleteButton.type = 'submit';
        commitDeleteButton.value = 'Commit delete';
        commitDeleteButton.id = 'commit-delete--submit';

        const currentRow = document.getElementById('datarow-' + sourceTarget.value);

        if (sourceTarget.classList.contains('delete-button--active')) {

            currentRow.style.backgroundColor = 'red';
            const dataId = document.createElement('input');

            dataId.type = 'hidden';
            dataId.name = 'dataId-' + sourceTarget.value;
            dataId.id = 'dataId-' + sourceTarget.value;
            dataId.value = sourceTarget.value;

            deleteDataForm.appendChild(dataId);

            if (!deleteDataForm.contains(document.querySelector('#commit-delete--submit')))
                deleteDataForm.appendChild(commitDeleteButton);

            $(commitDeleteButton).on('click', (e) => {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: 'deleteData',
                    data: $(deleteDataForm).serialize(),
                    success: function () {

                        clearForm(deleteDataForm);
                        reloadData(tabId);

                    }
                });
            });

        } else {
            currentRow.style.backgroundColor = 'transparent';
            document.getElementById('dataId-' + sourceTarget.value).remove();
            if (deleteDataForm.contains(deleteDataForm.querySelector('#commit-delete--submit')) && deleteDataForm.children.length === 3)
                deleteDataForm.removeChild(deleteDataForm.querySelector('#commit-delete--submit'));
        }

    }

    function clearForm(formToClear) {

        while (formToClear.lastElementChild.name !== 'tableId'
        && formToClear.lastElementChild.name !== 'databaseId') {

            formToClear.removeChild(formToClear.lastChild);
        }

    }

    document.addEventListener('click', (e) => {
        if (e.target.className === 'table-manage-button'
            || e.target.className === 'data-manage-button'
            || e.target.classList.contains('table-content--active')) {

            const nextElement = e.target.nextElementSibling;
            e.target.classList.toggle('table-content--active');
            if (e.target.classList.contains('table-content--active')) {
                nextElement.style.maxHeight = nextElement.scrollHeight + 'px';

            } else {
                nextElement.style.maxHeight = 0 + 'px';
            }
        }
    });
</script>

</body>

</html>