<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Panel</title>
    <link th:href="@{css/styles.css}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Exo:wght@200&family=Lato:wght@300&family=Orbitron&family=Overpass:wght@200&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

</head>
<body>



<div id="panel-manage--div">
    <p>Database Visualization</p>
</div>


<div id="usable-panel-area">
    <div id="create-table-panel">
        <form th:action="@{/createNewTable}" method="post">
            <input type="hidden" th:value="${databaseId}" id="databaseId" name="databaseId">
            <table style="border-spacing: 50px">
                <tr>
                    <td>
                        <label for="new-table-name">New table name: </label>
                    </td>
                    <td>
                        <input type="text" id="new-table-name" name="tableName">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="new-table-pk-name">Primary key name: </label>
                    </td>
                    <td>
                        <input type="text" id="new-table-pk-name" name="primaryKeyName">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="new-table-pk-type">Primary key type:</label>
                    </td>
                    <td>
                        <select id="new-table-pk-type" name="primaryKeyType">
                            <option value="int">Integer</option>
                            <option value="varchar">Varchar</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Create new table"></td>
                    <td></td>
                </tr>
            </table>

        </form>
    </div>
    <svg width="100%" height="100%" id="relationSvg"></svg>
</div>


<script>

    class Connection {
        constructor(constraintFieldId, linkedFieldId) {
            this.constraintFieldId = constraintFieldId;
            this.linkedFieldId = linkedFieldId;
        }

        get fieldId() {
            return this.constraintFieldId;
        }

        get linkFieldId() {
            return this.linkedFieldId;
        }
    }


    ///////////////////////////////////////
    const dbId = document.getElementById('databaseId').getAttribute('value');

    const variableColorMapping = new Map([
        ['int', 'darkorange'],
        ['varchar', 'darkblue']
    ]);


    window.onload = async () => {
        await drawAllTables(dbId);
        await drawAndSaveForeignKeys(dbId);
    }

    async function fetchPrimaryKeys() {
        let response = await fetch("/getPrimaryKeys?databaseId=" + dbId);
        return await response.json();
    }

    async function fetchForeignKeys() {
        let response = await fetch("/getForeignKeys?databaseId=" + dbId);
        return await response.json();
    }

    async function fetchTableDetails(databaseId) {
        let response = await fetch("/tableDetails?databaseId=" + databaseId);
        return await response.json();
    }

    async function fetchTableFields(tableId) {

        let response = await fetch("/getTableFields?tableId=" + tableId);
        return await response.json();

    }

    async function drawAllTables(databaseId) {
        const tableDetails = await fetchTableDetails(databaseId);

        for (let i = 0; i < tableDetails.length; i++) {
            let tableId = tableDetails[i][0];
            let tableName = tableDetails[i][1];
            let pageX = tableDetails[i][2];
            let pageY = tableDetails[i][3];
            let color = tableDetails[i][4];
            await drawTable(pageX, pageY, tableName, tableId, color);
        }

        await printPrimaryKeys(databaseId);
    }

    async function printPrimaryKeys(databaseId) {
        const primaryKeys = await fetchPrimaryKeys(databaseId);

        for (let i = 0; i < primaryKeys.length; i++) {
            const currPrimaryKey = JSON.parse(primaryKeys[i]);
            const primaryKeyId = currPrimaryKey['fieldId'];

            const primaryKeyField = document.getElementById('tf' + primaryKeyId);
            const primaryKeyCell = primaryKeyField.insertCell();
            primaryKeyCell.appendChild(document.createTextNode("PRIMARY KEY"));
            primaryKeyCell.style.color = 'gold';
            //const primaryKeySign = document.createElement('span');
            //primaryKeySign.appendChild(document.createTextNode(" |PRIMARY KEY|"));
            //primaryKeySign.style.color = 'gold';

            //primaryKeyField.appendChild(primaryKeySign);
        }

    }

    let relationList = [];

    async function drawAndSaveForeignKeys(databaseId) {
        const foreignKeys = await fetchForeignKeys(databaseId);

        for (let i = 0; i < foreignKeys.length; i++) {

            const currentForeignKeyInfo = JSON.parse(foreignKeys[i][2]);

            const constraintFieldId = foreignKeys[i][0];
            const referencedFieldId = currentForeignKeyInfo['linkedFieldId'];
            const fieldName = foreignKeys[i][1];

            relationList.push(new Connection(constraintFieldId, referencedFieldId));

            const newLine = document.createElementNS('http://www.w3.org/2000/svg', 'line');

            newLine.setAttribute('stroke', 'grey');
            newLine.setAttribute('visibility', 'visible');
            newLine.setAttribute('stroke-width', '4');
            newLine.id = constraintFieldId + '-' + referencedFieldId;

            const newLineLabel = document.createElementNS('http://www.w3.org/2000/svg', 'text');
            newLineLabel.style.fontFamily = "Orbitron, sans-serif";
            newLineLabel.style.fontSize = "40px";
            newLineLabel.appendChild(document.createTextNode(fieldName));

            newLineLabel.id = 'label--' + newLine.id;

            document.getElementById('relationSvg').appendChild(newLineLabel);
            document.getElementById('relationSvg').appendChild(newLine);
        }

        redrawRelations(relationList);

    }

    async function drawTable(x, y, name, tabId, color) {
        let newTable = document.createElement('div');
        newTable.classList.add('table');
        newTable.style.top = y + 'px';
        newTable.style.left = x + 'px';
        newTable.style.backgroundColor = color;
        newTable.id = tabId;

        let tableContent = document.createElement('table');
        tableContent.classList.add('table-content');
        let tableNameHeader = document.createElement('header');
        tableNameHeader.textContent = name;
        tableNameHeader.classList.add('table-name-headers');
        tableNameHeader.addEventListener('dblclick', () =>{
           alert("Clicked the header!");
        });
        //const newTableName = document.createElement('p');
        //newTableName.classList.add('table-name');
        //newTableName.appendChild(document.createTextNode(name));

        //newTable.appendChild(newTableName);

        newTable.appendChild(tableNameHeader);

        const tableFields = await fetchTableFields(tabId);

        for (let i = 0; i < tableFields.length; i++) {
            const fieldName = tableFields[i][2];
            const variableType = tableFields[i][1];

            const fieldRow = tableContent.insertRow();

            const typeCell = fieldRow.insertCell();
            typeCell.appendChild(document.createTextNode(variableType));
            typeCell.style.color = 'darkorange';

            const fieldNameCell = fieldRow.insertCell();
            fieldNameCell.appendChild(document.createTextNode(fieldName));

            const tableFieldElement = document.createElement('p');
            const tableFieldVariable = document.createElement('span');



            tableFieldVariable.style.color = variableColorMapping.get(variableType);

            tableFieldVariable.appendChild(document.createTextNode(variableType + ": "));
            tableFieldElement.appendChild(tableFieldVariable);

            tableFieldElement.appendChild(document.createTextNode(fieldName));

            fieldRow.id = 'tf' + tableFields[i][0];
            //tableFieldElement.id = 'tf' + tableFields[i][0];
            //newTable.appendChild(tableFieldElement);
            tableContent.appendChild(fieldRow);
        }

        newTable.appendChild(tableContent);
        let configButton = initConfigButton(tabId);
        let deleteButton = initDeleteButton(tabId);

        newTable.appendChild(configButton);

        newTable.appendChild(deleteButton);


        document.getElementById('usable-panel-area').appendChild(newTable);
        //document.body.appendChild(newTable);

        //functions updates tables menu by adding current table options
        //updateTableManageMenu(tabId, name);

        //make the table draggable ;)
        const currentTable = $(newTable);
        currentTable.appendTo("body");
        currentTable.draggable({
            containment: '#usable-panel-area',
            drag: () => {
                redrawRelations(relationList);
            },
            stop: (event, ui) => {
                let tableId = event.target.id;
                let newTop = event.target.style.top;
                let newLeft = event.target.style.left;
                saveTableLocation(tableId, newTop, newLeft);
            }

        });

    }

    function initConfigButton(tableId) {

        let configButton = document.createElement('button');
        configButton.textContent = 'Manage table';
        configButton.classList.toggle('config-table--button');
        configButton.addEventListener('click', () => {
            window.open('http://localhost:8080/manage_data?tableId=' + tableId + "&databaseId=" + dbId, 'Manage data window');
        });

        return configButton;
    }

    function initDeleteButton(tableId) {

        let deleteButton = document.createElement('button');
        deleteButton.textContent = 'Delete table';
        deleteButton.classList.toggle('delete-table--button');

        deleteButton.addEventListener('click', () => {

            $.ajax({
                type: 'post',
                url: '/deleteTable',
                data: {
                    'tableId': tableId,
                    'databaseId': dbId
                },
                success: () => {

                }
            });
        });

        return deleteButton;
    }

    function saveTableLocation(tableId, top, left) {

        const newTop = top.substring(0, top.length - 2);
        const newLeft = left.substring(0, left.length - 2);

        $.ajax({
            type: 'post',
            url: '/updatePlacement',
            data: {
                'tableId': tableId,
                'pageX': newLeft,
                'pageY': newTop
            },

        });

    }

    function redrawRelations(relList) {

        for (let i = 0; i < relList.length; i++) {
            const constraintFieldId = relList[i].fieldId;
            const linkedFieldId = relList[i].linkFieldId;
            const fieldOne = $('#tf' + constraintFieldId).parents('.table')
            const fieldTwo = $('#tf' + linkedFieldId).parents('.table');

            const currentLine = document.getElementById(constraintFieldId + '-' + linkedFieldId);
            const currentLineLabel = document.getElementById('label--' + currentLine.id);
            const fOx1 = fieldOne.offset().left + fieldOne.width() / 2;
            const fOy1 = fieldOne.offset().top - fieldOne.height();

            const fOx2 = fieldTwo.offset().left + fieldTwo.width() / 2;
            const fOy2 = fieldTwo.offset().top - fieldTwo.height();

            $(currentLine)
                .attr('x1', fOx1)
                .attr('y1', fOy1)
                .attr('x2', fOx2)
                .attr('y2', fOy2);

            $(currentLineLabel)
                .attr('x', (fOx1 + fOx2) / 2)
                .attr('y', (fOy1 + fOy2) / 2);

        }
    }

    document.addEventListener('click', (e) => {
        if (e.target.className === 'table-manage-button'
            || e.target.className === 'data-manage-button'
            || e.target.classList.contains('table-content--active')) {

            const nextElement = e.target.nextElementSibling;
            e.target.classList.toggle('table-content--active');
            if (e.target.classList.contains('table-content--active')) {
                nextElement.style.maxHeight = nextElement.scrollHeight + 'px';

            } else {
                nextElement.style.maxHeight = 0 + 'px';
            }
        }
    });

</script>
</body>
</html>