<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Panel</title>
    <link th:href="@{css/styles.css}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Exo:wght@200&family=Lato:wght@300&family=Overpass:wght@200&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

</head>
<body>
<input type="hidden" th:value="${databaseId}" id="databaseId">





<div id="panel-manage-div">
    <p>SOME SOME SOME</p>
</div>
<div id="usable-panel-area">
    <svg width="100%" height="100%" id="relationSvg"></svg>
</div>


<script>

    class Relation{
        constructor(constraintFieldId, linkedFieldId) {
            this.constraintFieldId = constraintFieldId;
            this.linkedFieldId = linkedFieldId;
        }
        get fieldId(){
            return this.constraintFieldId;
        }
        get linkFieldId(){
            return this.linkedFieldId;
        }
    }


    ///////////////////////////////////////
    const dbId = document.getElementById('databaseId').getAttribute('value');

    window.onload = () =>{
        fetch("/tablesXY?databaseId=" + dbId)
            .then(response => response.json())
            .then(responseJSON =>{

                for(let i = 0; i < responseJSON.length; i++){
                    let tabId = responseJSON[i][0];
                    let tabX = responseJSON[i][1];
                    let tabY = responseJSON[i][2]

                    fetch("/getTableName?tableId=" + tabId)
                        .then(response => response.json())
                        .then((responseJSON) =>{
                            drawTable(tabX, tabY, JSON.stringify(responseJSON), tabId);
                        });
                }
            })
            .then(() =>{
                reloadRelations();
            });
    }

    function drawTable(x, y, name, tabId){
        let newTable = document.createElement('div');
        newTable.classList.add('table');
        newTable.style.top = y + 'px';
        newTable.style.left = x + 'px';
        newTable.id = tabId;
        newTable.insertAdjacentHTML('beforeend', "<p>" + name + "</p>");
        fetch("/getTableFields?tableId=" + tabId)
            .then(response => response.json())
            .then((responseJSON) =>{

                for(let i = 0; i < responseJSON.length; i++){

                    const tableField = document.createElement('p');
                    tableField.appendChild(document.createTextNode(responseJSON[i][1] + ": " + responseJSON[i][2]));
                    tableField.id = 'tf' + responseJSON[i][0];
                    newTable.appendChild(tableField);
                    //newTable.insertAdjacentHTML('beforeend', "<p>" + responseJSON[i][1] + ": " + responseJSON[i][2] + "</p>");
                }
            })
            .then(() =>{
                let manageDataButton = document.createElement('button');
                manageDataButton.textContent = 'Mange data';
                manageDataButton.classList.toggle('manage-data-button');
                manageDataButton.addEventListener('click', () =>{
                    window.open('http://localhost:8080/manage_data?tableId=' + tabId, 'Manage data window');
                });

                newTable.appendChild(manageDataButton);

                document.getElementById('usable-panel-area').appendChild(newTable);
                //document.body.appendChild(newTable);

                //functions updates tables menu by adding current table options
                updateTableManageMenu(tabId, name);

                //make the table draggable ;)
                const currentTable = $('#' + tabId);
                currentTable.appendTo("body");
                currentTable.draggable({
                    containment: '#usable-panel-area',
                    drag: () =>{
                        redrawRelations(relationList);
                    },
                    stop: (event, ui) =>{
                        let tableId = event.target.id;
                        let newTop = event.target.style.top;
                        let newLeft = event.target.style.left;
                        saveTableLocation(tableId, newTop, newLeft);
                    }

                });
            });




    }

    let relationList = [];
    function reloadRelations(){
        fetch("/getForeignKeys")
            .then(response => response.json())
            .then((responseJSON) =>{
               for(let i = 0; i < responseJSON.length; i++){

                   const currentRelation = JSON.parse(responseJSON[i]);
                   const currentRelationValues = Object.values(currentRelation);

                   const constraintFieldId = currentRelationValues[0];
                   const linkedFieldId = currentRelationValues[1];
                   const fieldName = currentRelationValues[2];

                   relationList.push(new Relation(constraintFieldId, linkedFieldId));
                   const newLine = document.createElementNS('http://www.w3.org/2000/svg','line');
                   newLine.setAttribute('stroke', 'red');
                   newLine.setAttribute('visibility', 'visible');
                   newLine.setAttribute('stroke-width', '2');
                   newLine.id = constraintFieldId + '-' + linkedFieldId;

                   const newLineLabel = document.createElementNS('http://www.w3.org/2000/svg','text');
                   newLineLabel.appendChild(document.createTextNode(fieldName));
                   newLineLabel.id = 'label--' + newLine.id;

                   document.getElementById('relationSvg').appendChild(newLineLabel);
                   document.getElementById('relationSvg').appendChild(newLine);
               }

                redrawRelations(relationList);
            });


    }

    function saveTableLocation(tableId, top, left) {

        const newTop = top.substring(0, top.length - 2);
        const newLeft = left.substring(0, left.length - 2);

        $.ajax({
            type: 'post',
            url: '/updatePlacement',
            data: {
                'tableId': tableId,
                'pageX': newLeft,
                'pageY': newTop
            },

        });

    }


    function redrawRelations(relList){
        for(let i = 0; i < relList.length; i++){
            const constraintFieldId = relList[i].fieldId;
            const linkedFieldId = relList[i].linkFieldId;

            const fieldOne = $('#tf' + constraintFieldId).parent('.table');
            const fieldTwo = $('#tf' + linkedFieldId).parent('.table');

            const currentLine = document.getElementById(constraintFieldId + '-' + linkedFieldId);
            const currentLineLabel = document.getElementById('label--' + currentLine.id);
            const fOx1 = fieldOne.offset().left + fieldOne.width()/2;
            const fOy1 = fieldOne.offset().top - fieldOne.height();

            const fOx2 = fieldTwo.offset().left  + fieldTwo.width()/2;
            const fOy2 = fieldTwo.offset().top  - fieldTwo.height();

            $(currentLine)
                .attr('x1', fOx1)
                .attr('y1', fOy1)
                .attr('x2', fOx2)
                .attr('y2', fOy2);

            $(currentLineLabel)
                .attr('x', (fOx1 + fOx2)/2)
                .attr('y', (fOy1 + fOy2)/2);

        }
    }

function updateTableManageMenu(tabId, tabName){

    let tabNaviContent = document.createElement('div');
    tabNaviContent.classList.add('table-content');

    let modifyFieldsButton = document.createElement('button');
    let modifyStyleButton = document.createElement('button');
    let getDataButton = document.createElement('button');
    let modifyDataButton = document.createElement('button');


    modifyFieldsButton.classList.add('table-modify-button');
    modifyStyleButton.classList.add('table-modify-button');
    getDataButton.classList.add('table-modify-button');
    modifyDataButton.classList.add('table-modify-button');

    modifyFieldsButton.value = tabId;
    modifyStyleButton.value = tabId;
    getDataButton.value = tabId;
    modifyDataButton.value = tabId;

    modifyFieldsButton.textContent = "Modify fields";
    modifyStyleButton.textContent = "Modify style";
    getDataButton.textContent = "List data";
    modifyDataButton.textContent = "Modify data"

    modifyFieldsButton.addEventListener('click', () =>{

    });

    modifyStyleButton.addEventListener('click', () =>{

    });


    getDataButton.addEventListener('click', () =>{

    });



    tabNaviContent.appendChild(modifyFieldsButton);
    tabNaviContent.appendChild(modifyStyleButton);
    tabNaviContent.appendChild(getDataButton);
    tabNaviContent.appendChild(modifyDataButton);

    ////////////////////////////////

    const panelManage = $("#panel-manage-div");
    panelManage.append("<button class='table-manage-button'>" + tabName + "</button>")
    panelManage.append(tabNaviContent);
}


    document.addEventListener('click', (e) =>{
        if(e.target.className === 'table-manage-button'
            || e.target.className === 'data-manage-button'
            || e.target.classList.contains('table-content--active')){

            const nextElement = e.target.nextElementSibling;
            e.target.classList.toggle('table-content--active');
            if(e.target.classList.contains('table-content--active')){
                nextElement.style.maxHeight = nextElement.scrollHeight + 'px';

            }
            else{
                nextElement.style.maxHeight = 0 + 'px';
            }
        }
    });

</script>
</body>
</html>